{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}

<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-centered">
            <h1 class="title is-size-1 has-text-primary">ようこそTEOへ!!</h1>
            <br>
            <br>
            
            <p class="is-size-3">
                『タダで〇〇教えてあげるから代わりに□□教えて』<br>
            </p>
            <br>
            <p class ="is-size-4">
                TEOは、このマッチングを提供する場です。<br>
                まずは、右上のボタンから必要事項を入力して相手を見つけてみよう！<br>
                
            </p>
           
             </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <p class="is-size-4">

            </p>
        </div>
    </div>
</section>
{% endblock %}
