{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}

<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-centered">
            <h1 class="title is-size-1 ">ようこそTEOへ!!</h1>
            <br>
            <br>
            
            <p class="is-size-3">
                『タダで〇〇教えてあげるから代わりに□□教えて!』<br>
            </p>
            <br>
            <p class ="is-size-4">
                TEOは、このマッチングを提供する場です。<br>
                まずは、右上のボタンから必要事項を入力して相手を見つけてみよう！<br>
                
            </p>
           
             </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-left">
            <h1 class="title  has-text-primary">TEOとは？</h1>
            <p class="is-size-4">
                皆さんオンライン家庭教師といえばどんなものを想像しますか？<br>
                おそらく多くの方がAさんがBさんに何かを教えている場面を想像すると思います。<br>
                このときAさんはずっと教える側、Bさんはずっと教わる側ですよね。<br>
                そしてBさんはAさんにお金を払うというシステムですよね。
            </p>
            <br>
            <p class="is-size-4">
                そこでTEOではお互いが教える側になって何かを教え合うことで
                <em class="has-text-weight-bold">お金を払うことなく <br>知りたいことを知ることができる</em>
                   というサービスを提供しています。<br>
                もしかしたら自分には人に勉強なんて教えられない！なんて思う方もいるかもしれません。<br>
                しかし、そんな心配は必要ありません！ここで教えるのは勉強でなくても構いません。<br>
                相手が教えて欲しいことであれば、例えばPCの使い方や、味噌汁の作り方でもなんでもOKです！<br>
                つまり、<br>
                <em class="has-text-weight-semibold has-text-info">
                勉強を教えてもらう代わりに料理の作り方を教えたい
            </em>
            <br>
            という人と、<br>
            <em class="has-text-weight-semibold has-text-info">
                勉強教えてあげるから料理の作り方を教えて欲しい
            </em>
            <br>
            という人がいればこの２人で互いに教えあえばいいのです！
        </p>
        <br>
        もし興味を持っていただけたら右上のSign upボタンから必要事項を記入して下さい。<br>
        そうすると、みんなが何を教えて欲しいか、教えられるかの一覧を見ることができます。



        
        </div>
    </div>
</section>
{% endblock %}
